<div class="well">
    <div id="overlay">
      <div class="container">
        <div class="page-header">

          <h2>Real News From NY Times</h2>

        </div>
      </div>
    </div>
  </div>



<div class="row">
{{#each titlesArray}}
  <div class="col-lg-12">


  <div class="panel panel-warning">

  <div class="panel-heading">

    <h3 id="title"  class="panel-title">{{title}}</h3>
        <div class="text-muted pull-right">
          <a href="/articles" >
          <button type="submit" class="btn btn-primary" id="saveArticle-btn" titleName="{{title}}" linkName="{{link}}" method="POST" action="/articles">Save Article</button>
    </a>

  </div>
  <div id="link"   class="panel-body">
    <a href="{{link}}">{{link}}</a>
  <!--
-->
  </div>
</div>
</div>

</div>
{{/each}}
</div>
